* {
  margin: 0;
  font-family: "Akaya Telivigala", cursive;
  padding: 0;
}

.main {
  background-color: #dbdbdb;
}

.nav {
  display: flex;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  border-bottom: 1px solid #80caff;
}
.nav img {
  width: 60px;
  margin-right: 20px;
}
.nav .logo {
  width: 160px;
  margin-right: 500px;
}
.nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav a:hover {
  transition: 0.4s;
  color: #1e90ff;
  font-weight: bold;
  transition: 0.3s;
  transform: scale(1.1);
}
.nav a.active {
  font-weight: bold;
  color: #0056b3;
}
.nav input[type=text] {
  margin-left: auto;
  padding: 6px;
  background-color: #e6f5ff;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  margin-bottom: 8px;
  font-size: 17px;
  border-radius: 20px;
}

.content {
  padding-top: 60px;
}

.promo img {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 10px;
  margin: 40px 100px 70px 100px;
}

.grid-item {
  width: 100%;
  height: auto;
  text-align: center;
}
.grid-item img {
  width: 300px;
  border-radius: 10px;
}
.grid-item h2 {
  font-weight: bold;
}
.grid-item span {
  color: red;
  font-size: 25px;
  font-weight: bold;
}
.grid-item sup {
  font-size: 20px !important;
  font-weight: lighter;
}
.grid-item button {
  width: auto;
  margin-left: 20px !important;
  background-color: #0056b3;
  color: #c5e8ff;
  border: 1px solid #c8e6c9;
  border-radius: 10px !important;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.grid-item button:hover {
  background-color: #003d7a;
  transform: scale(1.02);
}
.grid-item button:focus {
  outline: none;
}

.footer {
  background-color: #003d7a;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.quick-links {
  margin-bottom: 10px;
}
.quick-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 14px;
  transition: color 0.3s ease;
}
.quick-links a:hover {
  color: #c5e8ff;
}

.social-icons {
  margin-top: 10px;
}
.social-icons a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-size: 24px;
  transition: color 0.3s ease;
}
.social-icons a:hover {
  color: #1e90ff;
}

.contact {
  color: #333;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  gap: 20px;
}
.contact .contact-details {
  flex: 1;
  min-width: 0;
}
.contact .contact-form {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}
.contact .contact-form form {
  display: flex;
  flex-direction: column;
}
.contact .contact-form label {
  margin-bottom: 5px;
}
.contact .contact-form input, .contact .contact-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #e6f5ff;
}

.deals {
  padding: 20px;
  background-color: #ffffff;
  max-width: 800px;
  margin: 50px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.deals h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.deal-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.deal-item {
  background-color: #c5e8ff;
  border: 1px solid #003d7a;
  border-radius: 4px;
  padding: 15px;
  margin: 10px 0;
  font-size: 18px;
  color: #003d7a;
  transition: background-color 0.3s, transform 0.3s;
}
.deal-item:hover {
  background-color: #80caff;
  transform: scale(1.02);
}

.product-categories {
  padding: 20px;
  background-color: #ffffff;
  max-width: 800px;
  margin: 50px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.product-categories h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}
.product-categories .category {
  margin-bottom: 30px;
}
.product-categories .category h2 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #003d7a;
}
.product-categories .product-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.product-categories .product-list li {
  background-color: #c5e8ff;
  border: 1px solid #003d7a;
  border-radius: 4px;
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
  color: #003d7a;
  transition: background-color 0.3s, transform 0.3s;
}
.product-categories .product-list li a {
  text-decoration: none;
  color: #003d7a;
  display: block;
}
.product-categories .product-list li a:hover {
  color: #003d7a;
}
.product-categories .product-list li:hover {
  background-color: #80caff;
  transform: scale(1.02);
}

.purbdy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #dbdbdb;
}

.purchase-container {
  background-color: #e6f5ff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}
.purchase-container h2 {
  margin-bottom: 20px;
}
.purchase-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-left: 20px !important;
  background-color: #0056b3;
  color: #c5e8ff;
  border: 1px solid #c8e6c9;
  border-radius: 10px !important;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: auto;
}
button:hover {
  background-color: #003d7a;
  transform: scale(1.02);
}

.faqcontainer {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  text-align: center;
  color: #333;
}

.faq {
  margin: 20px 0;
}

.question {
  font-weight: bold;
  color: #444;
}

.answer {
  margin-top: 10px;
  margin-bottom: 20px;
}

.nav .logo {
  margin-right: 100px;
}

@media (max-width: 1200px) {
  .nav .logo {
    margin-right: 20px;
  }
  .nav input[type=text] {
    width: 30%;
  }
  .grid-container {
    margin: 40px 50px 70px 50px;
  }
}
@media (max-width: 992px) {
  .nav .logo {
    margin-right: 10px;
  }
  .nav input[type=text] {
    width: 20%;
  }
  .grid-container {
    margin: 40px 30px 70px 30px;
  }
}
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .nav input[type=text] {
    width: 20%;
  }
  .nav .logo {
    margin-right: 0;
  }
  .grid-container {
    margin: 40px 10px 70px 10px;
  }
  .grid-item img {
    width: 100%;
  }
  .contact, .deals, .product-categories {
    padding: 10px;
  }
}
@media (max-width: 576px) {
  .nav a {
    font-size: 14px;
    padding: 10px 12px;
  }
  input[type=text] {
    width: 0%;
  }
  .purchase-container {
    padding: 15px;
    max-width: 100%;
    width: auto;
  }
  .purchase-container input {
    width: 100%;
  }
  .footer {
    padding: 10px 0;
  }
}/*# sourceMappingURL=style.css.map */